{% load static %}
<footer>
    <div class="foot">
        <div class="conBottom">
            <div class="erLeft">
                <div class="hz hzxs">
                    <img src={% static 'index/img/hzxs.jpg' %} alt="禾中销售公司" />
                    <div class="name">禾中销售公司</div>
                </div>
                <div class="hz hzsq">
                    <img src={% static 'index/img/hzsq.jpg' %} alt="禾中社区" />
                    <div class="name">禾中社区</div>
                </div>
                <div class="hz hzyg">
                    <img src={% static 'index/img/hzyg.jpg' %} alt="禾中优供" />
                    <div class="name">禾中优供</div>
                </div>
            </div>
            <div class="infoRight">
                <p>地址：北京市大兴区星光视界中心1号楼A座11层</p>
                <p>电话：010-64986666&nbsp;&nbsp;&nbsp;400-859-9400</p>
                <p>邮箱：service@hzbl360.com</p>
            </div>
        </div>
        <div class="bei">京ICP备17061442号-1&nbsp;&nbsp;&nbsp;公网安备号11011502003046</div>
    </div>
</footer>