<footer>
    <div class="container">
        <div class="row">
            <div class="col-xs-4 col-sm-3">
                <div class="row">
                    <div class="col-sm-2 hidden-xs">
                      <div class="join">扫描二维码</div>
                    </div>
                    <div class="col-sm-6 col-xs-12">
                        <img class="code" src="/static/index/img/code.jpg" alt="">
                    </div>
                    <div class="col-sm-2 hidden-xs">
                      <div class="join">加入我们吧</div>
                    </div>
                </div>
            </div>
            <div class="col-xs-8 col-sm-8 col-sm-offset-1">
                <div class="row">
                    <div class="col-xs-12">公司地址：北京市大兴区北春和路39号院1号楼A座11层</div>
                    <div class="col-xs-12">电话：010-64986666</div>
                    <div class="col-xs-12">邮箱：kefu@hzbl360.com</div>
                </div>
            </div>
        </div>
    </div>
</footer>
