{% load static %}
<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>首页-禾中产品销售有限公司</title>
		{% include 'index/head.html' %}
		<link rel="stylesheet" type="text/css" href={% static 'index/css/home.css' %}/>
        <link rel="stylesheet" type="text/css" href={% static 'index/css/newsCon.css' %}/>
        <script src={% static 'index/js/newslist.js' %} type="text/javascript" charset="utf-8"></script>
	</head>
	<body>
        {% include 'index/header.html' %}
		<div class="banner">
			<img src={% static 'index/img/home_banner.jpg' %}/>
		</div>
		<section>
			<div class="content">
				<!--导航-->
				<ul class="con_nav">
					<li><a class="news" href={% url 'news' %}>
                        <i></i>
						<span>新闻中心</span>
					</a></li>
					<li><a class="ability" href={% url 'ability' %}>
						<i></i>
						<span>产品</span>
					</a></li>
					<li><a class="strength" href={% url 'strength' %}>
						<i></i>
						<span>服务</span>
					</a></li>
					<li><a class="cooperation" href={% url 'about' %}>
						<i></i>
						<span>关于我们</span>
					</a></li>
				</ul>
				<!--新闻动态-->
				<div class="newsTitle">
					<div class="left">新闻动态</div>
					<a href={% url 'news' %} class="right">更多新闻&gt;&gt;</a>
				</div>
				<!--新闻-->
				<div class="news_"></div>
				<!--友情链接-->
				<div class="aboutLink">
					<div class="linkTitle">友情链接：</div>
					<div class="links">
						<a href="http://www.zghzkg.com">禾中集团</a>
						<!--<a href="http://www.yweidao.com/">禾中味道</a>
						<a href="http://mall.yz98.cn/">有种网</a>-->
						<a href="http://www.hnyfncp.com/">河南豫丰</a>
						<a href="http://www.jhqmyzc.com/">九河泉</a>
					</div>
				</div>
			</div>
		</section>
        {% include 'index/footer.html' %}
	</body>
<script src={% static 'index/js/index.js' %} type="text/javascript" charset="utf-8"></script>
</html>
