{% load static %}
<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>首页-禾中产品销售有限公司</title>
		<meta name="keywords" content="禾中产品,新零售,农产品">
		<!--<meta name="description" content="美菜网 - 中国较早，口碑很好的农产品移动电商，美菜网自营涵盖：新鲜水果蔬菜、肉类、冻品、调料、熟食、饮品、日常用品等。专业配送和服务团队，美菜网让全国人民吃上放心菜！">-->
		<link rel="icon" type="image/x-icon" href={% static 'index/img/hezhong.png' %}>
		<link rel="stylesheet" type="text/css" href={% static 'index/css/reset.css' %}/>
		<link rel="stylesheet" type="text/css" href={% static 'index/css/home.css' %}/>
		<script src={% static 'index/js/jquery.min.js' %} type="text/javascript" charset="utf-8"></script>
	//	sdfjklsdjfklsdj
	</head>
	<body>
{#        {% include 'index/header.html' %}#}
		<header>
			<div class="header">
				<div class="h_wrap">
					<div class="logo">
						<img src={% static 'index/img/logo.png' %}/>
						<span class="title">禾中产品销售有限公司</span>
					</div>
					<ul class="nav">
						<li><a href={% url 'index' %} class="active">首页</a></li>
						<li><a href={% url 'news' %}>新闻中心</a></li>
						<li><a href={% url 'ability' %}>产品</a></li>
						<li><a href={% url 'strength' %}>服务</a></li>
						<li><a href={% url 'about' %}>关于我们</a></li>
					</ul>
				</div>
			</div>
		</header>
		<div class="banner">
			<img src={% static 'index/img/home_banner.jpg' %}/>
		</div>
		<section>
			<div class="content">
				<!--导航-->
				<ul class="con_nav">
					<li><a class="news" href={% url 'news' %}>
                        <i></i>
						<span>新闻中心</span>
					</a></li>
					<li><a class="ability" href={% url 'ability' %}>
						<i></i>
						<span>产品</span>
					</a></li>
					<li><a class="strength" href={% url 'strength' %}>
						<i></i>
						<span>服务</span>
					</a></li>
					<li><a class="cooperation" href={% url 'about' %}>
						<i></i>
						<span>关于我们</span>
					</a></li>
				</ul>
				<!--新闻动态-->
				<div class="newsTitle">
					<div class="left">新闻动态</div>
					<a href={% static 'index/news.html' %} class="right">更多新闻&gt;&gt;</a>
				</div>
				<!--新闻-->
				<div class="news_">
					<div class="first">
						<div class="news_content">
							<div class="img_left">
								<img src="img/news1.jpg"/>
							</div>
							<div class="con_right">
								<a class="con" href="newsDetailsOne.html">简要：旧岁已展千重锦，新年再进百尺杆。回顾过去，成功或汗水都已逝去，展望未来，新的一年我们意气风发。2017年禾中产品销售有限公司全体员工同舟共济，用实力与勇气在短短半年内创造奇迹。</a>
								<a href="newsDetailsOne.html" class="details">查看详情&gt;&gt;</a>
							</div>
						</div>
					</div>
					<div class="others">
						<div class="news_content">
							<div class="img_left">
								<img src="img/news2.jpg"/>
							</div>
							<div class="con_right">
								<a class="con" href="newsDetailsTwo.html">简要：2017年12月6日，在北京市委常委、副市长阴和俊的见证下，第二届中国创新挑战赛暨中关村首届科技军民融合专题赛决赛圆满落幕</a>
								<a href="newsDetailsTwo.html" class="details">查看详情&gt;&gt;</a>
							</div>
						</div>
						<div class="news_content">
							<div class="img_left">
								<img src="img/news3.jpg"/>
							</div>
							<div class="con_right">
								<a class="con" href="newsDetailsThree.html">简要：2018年1月20日，中国重汽与禾中集团在济南正式签署战略合作框架协议。禾中集团农业全产业链智慧农业，将互联网、金融、农业、文化等各个产业相融合，坚持创新驱动，助力加快发展现代物流业，为实现禾中梦、中国梦而奋斗。</a>
								<a href="newsDetailsThree.html" class="details">查看详情&gt;&gt;</a>
							</div>
						</div>
					</div>
				</div>
				<!--友情链接-->
				<div class="aboutLink">
					<div class="linkTitle">友情链接：</div>
					<div class="links">
						<a href="http://www.zghzkg.com">禾中集团</a>
						<!--<a href="http://www.yweidao.com/">禾中味道</a>
						<a href="http://mall.yz98.cn/">有种网</a>-->
						<a href="http://www.hnyfncp.com/">河南豫丰</a>
						<a href="http://www.jhqmyzc.com/">九河泉</a>
					</div>
				</div>
			</div>
		</section>
		<footer>
			<div class="foot">
				<div class="conBottom">
					<div class="erLeft">
						<div class="hz hzxs">
							<img src={% static 'index/img/hzxs.jpg' %} alt="禾中销售公司" />
							<div class="name">禾中销售公司</div>
						</div>
						<div class="hz hzsq">
							<img src={% static 'index/img/hzsq.jpg' %} alt="禾中社区" />
							<div class="name">禾中社区</div>
						</div>
						<div class="hz hzyg">
							<img src={% static 'index/img/hzyg.jpg' %} alt="禾中优供" />
							<div class="name">禾中优供</div>
						</div>
					</div>
					<div class="infoRight">
						<p>地址：北京市大兴区星光视界中心1号楼A座11层</p>
						<p>电话：010-64986666&nbsp;&nbsp;&nbsp;400-859-9400</p>
						<p>邮箱：service@hzbl360.com</p>
					</div>
				</div>
				<div class="bei">京ICP备17061442号-1&nbsp;&nbsp;&nbsp;公网安备号11011502003046</div>
			</div>
		</footer>
	</body>
<script src={% static 'index/js/index.js' %} type="text/javascript" charset="utf-8"></script>
</html>
