{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>新闻详情-禾中产品销售有限公司</title>
    {% include 'index/head.html' %}
    <link rel="stylesheet" type="text/css" href={% static 'index/css/newsDetail.css' %}/>
</head>
<body>
    {% include 'index/header.html' %}
    <section>
        <div class="content">
            <!--新闻动态-->
            <div class="newsTitle">
                <div class="left">新闻动态>>新闻详情</div>
            </div>
            <!--新闻-->
            <div class="details"></div>
        </div>
    </section>
    {% include 'index/footer.html' %}
</body>
<script src={% static 'index/js/newsDetail.js' %} type="text/javascript" charset="utf-8"></script>
</html>