{% load static %}
<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>新闻中心-禾中产品销售有限公司</title>
		{% include 'index/head.html' %}
		<link rel="stylesheet" type="text/css" href={% static 'index/css/news.css' %}/>
	</head>
	<body>
		{% include 'index/header.html' %}
		<div class="banner">
			<img src={% static 'index/img/home_banner.jpg' %}/>
		</div>
		<section>
			<div class="content">
				<!--新闻动态-->
				<div class="newsTitle">
					<div class="left">新闻动态</div>
				</div>
				<!--新闻-->
				<div class="news_">
					<div class="first">
						<div class="news_content">
							<div class="img_left">
								<img src="img/news1.jpg"/>
							</div>
							<div class="con_right">
								<a class="con" href="newsDetailsOne.html">简要：旧岁已展千重锦，新年再进百尺杆。回顾过去，成功或汗水都已逝去，展望未来，新的一年我们意气风发。2017年禾中产品销售有限公司全体员工同舟共济，用实力与勇气在短短半年内创造奇迹。</a>
								<a href="newsDetailsOne.html" class="details">查看详情&gt;&gt;</a>
							</div>
						</div>
					</div>
					<div class="others">
						<div class="news_content">
							<div class="img_left">
								<img src="img/news2.jpg"/>
							</div>
							<div class="con_right">
								<a class="con" href="newsDetailsTwo.html">简要：2017年12月6日，在北京市委常委、副市长阴和俊的见证下，第二届中国创新挑战赛暨中关村首届科技军民融合专题赛决赛圆满落幕</a>
								<a href="newsDetailsTwo.html" class="details">查看详情&gt;&gt;</a>
							</div>
						</div>
						<div class="news_content">
							<div class="img_left">
								<img src="img/news3.jpg"/>
							</div>
							<div class="con_right">
								<a class="con" href="newsDetailsThree.html">简要：2018年1月20日，中国重汽与禾中集团在济南正式签署战略合作框架协议。禾中集团农业全产业链智慧农业，将互联网、金融、农业、文化等各个产业相融合，坚持创新驱动，助力加快发展现代物流业，为实现禾中梦、中国梦而奋斗。</a>
								<a href="newsDetailsThree.html" class="details">查看详情&gt;&gt;</a>
							</div>
						</div>
					</div>
					<div class="more">暂无更多新闻！</div>
				</div>
			</div>
		</section>
		{% include 'index/footer.html' %}
	</body>
</html>