


.content{
	width: 84%;
	margin: 0 auto;
	padding: 25px 0 20px;
	overflow: hidden;
}
.content .cont{
	font-size: 24px;
    color: #333;
    line-height: 36px;
    border-left: 5px solid #377c3f;
    padding-left: 10px;
    margin: 15px 0;
    letter-spacing: 5px;
}
.content .proSelf ul{
	padding: 20px 0;
	overflow: hidden;
	font-size: 24px;
	color: #808080;
}
.content .proSelf li{
	float: left;
	width: 19%;
    margin: 0 3%;
}
.content .proSelf .img{
	width: 100%;
	display: block;
}
.content .proSelf .title{
	letter-spacing: 5px;
    text-align: center;
    padding-top: 15px;
}
.content .proSelf .title:before{
	content: '';
	display: inline-block;
	position: relative;
    top: -5px;
    left: -10px;
	width: 0;
	height: 0;
	border: 3px solid #7cc062;
}
.content .supplier{
	padding: 20px 0;
}
.content .supplier div{
	width: 100%;
	overflow: hidden;
}
.content .supplier img{
	float: left;
	width: 12%;
    margin: 0 4%;
}
.content .tracing img{
	display: block;
	width: 96%;
	margin: 10px auto;
	
}



@media all and (max-width:1230px){
	.header .logo span{
		display: none;
	}
}
