.navbar-default {
    background-color: #fff;
    border-color: #fff;
	padding-top: 14px;
	padding-bottom: 14px;
}
.logo{
	padding-top: 4px;
}
.navbar-default .navbar-nav>li.active>a{
	background-color: #365840;
	color: #fff;
}
.navbar-default .navbar-nav>li>a:hover{
	background-color: #365840;
    color: #fff;
}
.navbar-default .navbar-nav>li.active>a:hover{
	background-color: #365840;
    color: #fff;
}
footer{
	background-color: #335D41;
	padding: 8px 0;
	color: #fff;
}
footer .code{
	width: 100%;
	max-width: 108px;
}
footer .col-xs-8 .col-xs-12{
	padding: 5px 0;
}