

.content{
	width: 84%;
	margin: 0 auto;
	padding: 25px 0 20px;
	overflow: hidden;
}
.content .cont{
	font-size: 24px;
    color: #333;
    line-height: 36px;
    border-left: 5px solid #377c3f;
    padding-left: 10px;
    margin: 15px 0;
    letter-spacing: 5px;
}
.content .cooperationWrap{
	overflow: hidden;
	padding-bottom: 25px;
}
.content .cooperationWrap .condition{
	float: left;
	width: 43%;
}
.content .cooperationWrap .support{
	float: right;
	width: 39.3%;
}
.content .cooperationWrap .title{
	text-align: center;
	color: #333;
    font-size: 18px;
    letter-spacing: 3px;
    padding: 16px 0;
}
.content .cooperationWrap .title:before{
	content: '';
	display: inline-block;
	position: relative;
    top: -4px;
    left: -10px;
	width: 6px;
	height: 6px;
	background-color: #377c3f;
	border-radius: 50%;
}
.content .cooperationWrap .show img{
	display: block;
	width: 100%;
}
.content .affiliation{
	padding: 10px 20px;
}
.content .affiliation p{
	padding: 4px 0;
}
.content .links,
.content .linkTitle{
	overflow: hidden;
}
.content .links img{
	float: left;
	width: 18%;
}
.content .links .hzsq{
	margin-top: -3px;
	padding: 0 23%;
}
.content .links .hzyg{
    margin-top: 5px;
    width: 17.3%;
}
.content .linkTitle span{
	float: left;
	text-align: center;
	width: 18%;
	color: #333333;
	font-size: 22px;
}
.content .linkTitle .hzsq{
	padding: 0 23%;
}

.foot{
	text-align: center;
	padding: 12px 0;
}