{% load static %}
.content .con_nav{overflow: hidden;}
.content .con_nav li{
	float: left;
	width: 25%;
	text-align: center;
}
.content .con_nav a{
	display: block;
	width: 86%;
    margin: 0 auto;
	font-size: 20px;
	color: #808080;
	padding: 10px 0;
}
.content .con_nav a:hover{
	background-color: rgba(200,200,200,.3);
	border-radius: 8px;
}
.content .con_nav i{
	display: block;
	height: 140px;
	width: 130px;
	margin: 0 auto;
	background: url('../../img/link.png') no-repeat;
}
.content .news i{background-position: 22px 0;}
.content .ability i{background-position: 18px -140px;}
.content .strength i{background-position: 22px -295px;}
.content .cooperation i{
    background-size: 86%;
    background-position: 22px -330px;
}





.content .newsTitle a.right{
	float: right;
	line-height: 36px;
	font-size: 16px;
	color: #3aa1d5;
}


.content .aboutLink{
	padding: 24px 0 20px;
	height: 36px;
	overflow: hidden;
}
.content .aboutLink .linkTitle{
	float: left;
	font-size: 24px;
	color: #808080;
	line-height: 36px;
	border-left: 5px solid #377c3f;
	padding-left: 10px;
}
.content .aboutLink .links{
	float: left;
	line-height: 36px;
}
.content .aboutLink a{
	color: #333;
	font-size: 16px;
    margin: 0 6px;
}
.content .aboutLink a:hover{text-decoration: underline;}
