.content{
	width: 84%;
	margin: 0 auto;
	padding: 25px 0 20px;
	overflow: hidden;
}
.content .newsTitle{
	padding: 24px 0;
	height: 36px;
}
.content .newsTitle .left{
	float: left;
	font-size: 24px;
	color: #808080;
	line-height: 36px;
	border-left: 5px solid #377c3f;
	padding-left: 10px;
}
.content .news_ .img_left{
	float: left;
	width: 200px;
	height: 200px;
	overflow: hidden;
}
.content .news_content{
	overflow: hidden;
	position: relative;
}
.news_ .first .con_right{
	float: left;
	width: calc(100% - 200px);
	box-sizing: border-box;
	padding: 0 3px 10px 20px;
}
.news_ .con_right a.tit{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
	display: block;
    font-size: 22px;
    width: 100%;
    color: #000;
}
.news_ .con_right a.con{
    width: 100%;
    padding-top: 6px;
	color: #333;
	font-size: 18px;
	display: block;
    text-indent: 2em;
}
.news_ .con_right a.con:hover{text-decoration: underline;}
.news_ .first{
	border-bottom: 2px solid #7cc062;
	padding-bottom: 7px;
    margin-bottom: 10px;
}